<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/prism.css">
  <title>Evently Cloud Event Ledgers</title>
</head>
<body>
<div class="banner">Evently</div>
<section class="section">
{{ content }}
</section>
</body>
</html>