---
layout: header
---

<main class="w-full px-4 mt-2 lg:mt-14">
    <div id="content-container" class="max-w-7xl mx-auto">
        {% block content %}
            {% if markdownFile != false %}
                {{ content | mdChanges | safe }}
            {% else %}
                {{ content | safe }}
            {% endif %}
        {% endblock %}
    </div>
</main>
