---
layout: main
socialLinks:
    -   url: https://twitter.com/evently_cloud
        icon: <i class="fab fa-twitter-square"></i>
    -   url: https://github.com/evently-cloud
        icon: <i class="fab fa-github-square"></i>
---

<nav class="fixed top-0 left-0 flex justify-between items-center h-32 w-full px-8">
    <div class="flex h-full items-center">
        {# <img src="assets/{{ logo }}.png" class="h-full"/> #}
        <h1>Evently</h1>
    </div>
    <div class="flex gap-4">
        {% for socialLink in socialLinks %}
            <a x-data="{ hover: false }" href="{{ socialLink.url }}" class="text-5xl" target="_blank"
                :class="hover ? 'text-button' : 'text-darkBase'"
                @pointerenter="hover = true" @pointerleave="hover = false"
            >
                {{ socialLink.icon | safe }}
            </a>
        {% endfor %}
    </div>
</nav>

<main class="mx-auto max-w-3xl px-4 mt-32 lg:mt-52">

    <div id="particles-js" class="fixed top-0 left-0 w-full h-full" style="z-index: -100;"></div>
    <script>
        particlesJS.load('particles-js', '/assets/particlesjs.json', function () {
            console.log('callback - particles.js config loaded');
        });
    </script>

    {% block content %}
        {{ content | safe }}
    {% endblock %}
</main>
