---
layout: main
socialLinks:
    -   url: https://twitter.com/evently_cloud
        icon: <i class="fa-brands fa-square-twitter"></i>
    -   url: https://github.com/evently-cloud
        icon: <i class="fa-brands fa-square-github"></i>
---

<nav class="bg-myGreen" x-data="{ isOpen: false }">
    <div class="mx-auto pl-6 pr-8 md:px-8 mt-4 md:mt-8">
        <div class="flex items-center w-full h-16 justify-between">
            <div class="flex-shrink-0">
                <a href="/">
                    <h1>Evently</h1>
                </a>
            </div>
            <div class="hidden md:flex ml-10 items-center gap-6 justify-start w-full">
                {% include "partials/header-menu.njk" %}
            </div>

            <div class="-mr-2 flex md:hidden">
                <!-- Mobile menu button -->
                <button type="button" @click="isOpen = !isOpen" class="btn inline-flex items-center justify-center p-2 rounded-md text-gray-400" aria-controls="mobile-menu" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="block h-6 w-6" :class="{'hidden': isOpen, 'block': !isOpen }" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                    </svg>
                    <svg class="hidden h-6 w-6" :class="{'block': isOpen, 'hidden': !isOpen }" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="md:hidden" id="mobile-menu" x-show="isOpen" x-collapse>
        <div class="flex flex-col items-center px-2 pt-2 pb-3 sm:px-3 gap-6 mt-6">
            {% include "partials/header-menu.njk" %}
        </div>
    </div>
</nav>

{% block content %}
    {{ content | safe }}
{% endblock %}

<footer class="flex flex-col text-center justify-center my-32 gap-2">
    <div class="">
        <i class="fa-regular fa-copyright"></i> 2021 Evently. All Rights Reserved.
    </div>
    <div class="flex justify-center gap-4">{% include "partials/social-links.njk" %}</div>
</footer>
