---
site-title: Evently Cloud
js:
fontAwesomeKitID: ea7561e5ef
googleFontsURL: <style> @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&family=Baloo+2&display=swap'); </style>
logo: logo-4
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {# Meta #}
        <title>{{ siteTitle }}</title>
        <meta charset="UTF-8"/>
        {% if siteDescription %}
            <meta name="description" content="{{ siteDescription }}"/>
        {% endif %}
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
        <script defer data-domain="evently.cloud" src="https://plausible.io/js/plausible.js"></script>

        {# Style #}
        <link rel="stylesheet" href="/css/main.css"/>
        <link rel="stylesheet" href="/css/prism.css"/>
        <link rel="shortcut icon" href="/assets/favicon.ico"/>
        <script src="https://kit.fontawesome.com/{{ fontAwesomeKitID }}.js" crossorigin="anonymous"></script>
        {{ googleFontsURL | safe }}

        {# Functional #}
        {% if js %}
            <script src="/{{ js }}"></script>
        {% endif %}
        <script defer src="https://unpkg.com/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    </head>
    <body x-data="{ signupFormOpen: false, darkMode: false }" class="transition-all {% if markdownFile != false %} md {% endif %}" :class="darkMode && 'dark-mode'">

        {% if enableParticles == true %}
            {% set particleConfig = "'/assets/particlesjs.json'" %}
        {% else %}
            {% set particleConfig = "'/assets/particlesjs-subtle.json'" %}
        {% endif %}
        <div id="particles-js" class="fixed top-0 left-0 w-full h-full" style="z-index: -100;"></div>
        <script>
            particlesJS.load('particles-js', {{ particleConfig | safe }}, function () {
                // console.log('callback - particles.js config loaded');
            });
        </script>

        {% block content %}
            {{ content | safe }}
        {% endblock %}
    </body>
</html>
