@tailwind base;
@tailwind components;
@tailwind utilities;

/**************************************************************** General  */

html {
    scroll-behavior: smooth;
}

a {
    @apply text-lightBase transition-all hover:text-lightHighlight;
}

body {
    @apply font-body bg-darkBG text-darkBase text-lg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-heading text-xl text-darkBase;
}

.text-gradient {
    @apply bg-gradient-to-r from-darkBase to-lightBase text-transparent;
    -webkit-background-clip: text;
}

h1,
h1 em {
    @apply lg:text-6xl text-5xl my-4 text-gradient w-fit;
}

h2 {
    @apply lg:text-5xl text-2xl my-2;
}

h3 {
    @apply lg:text-4xl text-xl my-1;
}

h5 {
    @apply text-2xl my-2;
}

:focus {
    outline: none !important;
}

.w-fit {
    width: fit-content;
}

/**************************************************************** Button  */

.btn {
    @apply bg-darkBase text-white px-4 py-3 cursor-pointer transition-all shiny;
}

.btn-active {
    @apply bg-button;
}

@media (min-width: 768px) {
    .shiny {
        position: relative;
        overflow: hidden;
    }

    .shiny::after {
        content: '';
        position: absolute;
        top: calc(var(--y, 0) * 1px - 50px);
        left: calc(var(--x, 0) * 1px - 50px);
        width: 100px;
        height: 100px;
        background: radial-gradient(#ffa336, #ffa33600 80%);

        opacity: 0;
        transition: opacity 0.2s;
    }

    .shiny:hover::after {
        opacity: 0.4;
    }
}

/**************************************************************** Form  */

label {
    @apply block mb-2 mt-4 font-extrabold bg-darkBG;
}

input[name='SingleLine'],
input[name='Email'] {
    @apply w-full md:w-3/5;
}

form#newsletter-signup input {
    @apply w-full;
}

textarea {
    @apply w-full;
}

.zf-instruction {
    @apply italic text-base;
}

.zf-termsMsg {
    @apply px-5 pt-1;
}

.zf-termsMsg ul {
    @apply list-disc ml-6 text-base;
}

.zf-termsAccept {
    @apply flex justify-start items-center gap-3 mb-8;
}

.zf-termsAccept label {
    @apply m-0;
}

.zf-submitColor {
    @apply btn m-auto block;
}

/**************************************************************** Nav  */
/* Parent container */
nav > ul {
    @apply flex flex-col md:flex-row gap-2 list-none md:absolute text-center;
    top: 38px;
}

/* Parent menu */
nav > ul > li {
    @apply p-2 w-52 md:w-44 self-start transition duration-300 bg-darkBase md:bg-darkBGHighlight2 hover:bg-darkBase text-left md:text-center; /* debug: bg-red-600 */
}

nav > ul > li > a {
    @apply hover:bg-transparent;
}

/* Child menu */
nav > ul li > ul {
    @apply p-2; /* debug: bg-green-500 */
}

/* Menu items */
li a {
    @apply block w-full p-2 md:hover:bg-button; /* debug: bg-blue-500 */
}

/* Child menu items */
nav > ul li > ul li a {
    /* @apply bg-red-500; */
}

nav > ul li > ul li a:before {
    content: '>';
    @apply mr-3;
}

/**************************************************************** Markdown-specific  */
body.md {
    @apply bg-white;
}

.md main {
    @apply max-w-5xl bg-white text-darkBG;
}

body.md.dark-mode {
    @apply bg-darkBG;
}

.md.dark-mode main {
    @apply bg-darkBG text-darkBase;
}

.md main h1 {
    @apply mt-20 mb-5;
}

.md main h2 {
    @apply mt-16 mb-5;
}

.md main h3 {
    @apply mt-5;
}

.md main h4 {
    @apply text-2xl mt-6 mb-0;
}

.md main p {
    @apply my-2;
}

.md main a {
    @apply contents p-0;
}

.md main ol {
    @apply list-decimal ml-5;
}

.md main ul {
    @apply list-disc ml-5;
}

.md code {
    @apply text-button text-base;
}

.md main code[class*='language-'],
.md main pre[class*='language-'] {
    @apply text-base;
}

.md main table,
.md main td,
.md main th {
    @apply border border-darkBase border-collapse;
}

.md main table {
    @apply m-3;
}

.md main th {
    @apply font-extrabold;
}

.md main td,
.md main th {
    @apply p-2;
}

/**************************************************************** Copy code button  */

.md main pre {
    position: relative;
}

.md main .copy-button {
    @apply font-body text-base bg-darkBase text-lightBase absolute right-3 bottom-3 px-3 py-1 cursor-pointer;
}
