@tailwind base;
@tailwind components;
@tailwind utilities;

/**************************************************************** General  */

/* Moving this to <head> in main, as it breaks API docs but is useful everywhere else,
and couldn't find a simple way to make this CSS file conditional upon a Nunjucks variable */
/* html {
    scroll-behavior: smooth;
} */

a {
    @apply text-lightBase transition-all hover:text-lightHighlight;
}

body {
    @apply font-body bg-darkBG text-darkText text-lg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-heading text-xl text-darkBase;
}

.text-gradient {
    @apply bg-gradient-to-r from-darkBase to-lightBase text-transparent;
    -webkit-background-clip: text;
}

h1,
h1 em {
    @apply lg:text-6xl text-5xl my-4 text-gradient w-fit;
}

h2 {
    @apply lg:text-5xl text-2xl my-2;
}

h3 {
    @apply lg:text-4xl text-xl my-1;
}

h5 {
    @apply text-2xl my-2;
}

:focus {
    outline: none !important;
}

.w-fit {
    width: fit-content;
}

[x-cloak] {
    display: none !important;
}

/**************************************************************** Button  */

.btn {
    @apply bg-darkBase text-white px-4 py-3 cursor-pointer transition-all shiny;
}

.btn-active {
    @apply bg-button;
}

@media (min-width: 768px) {
    .shiny {
        position: relative;
        overflow: hidden;
    }

    .shiny::after {
        content: '';
        position: absolute;
        top: calc(var(--y, 0) * 1px - 50px);
        left: calc(var(--x, 0) * 1px - 50px);
        width: 100px;
        height: 100px;
        background: radial-gradient(#ffa336, #ffa33600 80%);

        opacity: 0;
        transition: opacity 0.2s;
    }

    .shiny:hover::after {
        opacity: 0.4;
    }
}

/**************************************************************** Form  */

label {
    @apply block mb-2 mt-4 font-extrabold bg-darkBG;
}

input[name='SingleLine'],
input[name='Email'] {
    @apply w-full md:w-3/5;
}

form#newsletter-signup input {
    @apply w-full;
}

textarea {
    @apply w-full;
}

.zf-instruction {
    @apply italic text-base;
}

.zf-termsMsg {
    @apply px-5 pt-1;
}

.zf-termsMsg ul {
    @apply list-disc ml-6 text-base;
}

.zf-termsAccept {
    @apply flex justify-start items-center gap-3 mb-8;
}

.zf-termsAccept label {
    @apply m-0;
}

.zf-submitColor {
    @apply btn m-auto block;
}

/**************************************************************** Nav  */
/* Parent container */
nav > ul {
    @apply flex flex-col md:flex-row gap-2 list-none md:absolute text-center z-10;
    top: 38px;
}

/* Parent menu */
nav > ul > li {
    @apply p-2 w-56 md:w-44 self-start transition duration-300 bg-darkBase md:bg-darkBGHighlight2 hover:bg-darkBase text-left md:text-center; /* debug: bg-red-600 */
}

nav > ul > li:nth-child(2) {
    @apply md:w-60;
}

nav > ul > li > a {
    @apply hover:bg-transparent;
}

/* Child menu */
nav > ul li > ul {
    @apply p-2; /* debug: bg-green-500 */
}

/* Menu items */
nav li a {
    @apply block w-full p-2 md:hover:bg-button; /* debug: bg-blue-500 */
}

/* Child menu items */
nav > ul li > ul li a {
    /* @apply bg-red-500; */
}

/* Make child items clearer on mobile (as there is no hover effect or dropdown) */
nav > ul li > ul li a:before {
    content: '>';
    @apply mr-3 md:mr-0;
}

@media (min-width: 768px) {
    nav > ul li > ul li a:before {
        content: '';
    }
}

/**************************************************************** Markdown-specific  */
body.md {
    @apply bg-white;
}

.md main {
    @apply bg-white text-darkBG;
}

.md #content-container {
    @apply pt-5 pb-10 px-10;
}

body.md.dark-mode {
    @apply bg-darkBG;
}

.md.dark-mode main {
    @apply bg-darkBG text-darkText;
}

.md .header-anchor {
    @apply hidden;
}

.md.dark-mode main h2,
.md.dark-mode main h3,
.md.dark-mode main h4,
.md.dark-mode main h5,
.md.dark-mode main h6 {
    @apply text-darkText;
}

.md main h1 {
    @apply mt-10 mb-5;
}

.md main h2 {
    @apply mt-16 mb-5;
}

.md main h3 {
    @apply mt-5;
}

.md main h4 {
    @apply text-2xl mt-6 mb-0;
}

.md main p {
    @apply my-2;
}

.md main a {
    @apply contents p-0;
}

.md main ol {
    @apply list-decimal ml-5;
}

.md main ul {
    @apply list-disc ml-5;
}

.md code {
    @apply text-darkBase;
}

.md main code[class*='language-'],
.md main pre[class*='language-'] {
    @apply text-base;
}

.md main table,
.md main td,
.md main th {
    @apply border border-darkBase border-collapse;
}

.md main table {
    @apply m-3;
}

.md main th {
    @apply font-extrabold;
}

.md main td,
.md main th {
    @apply p-2;
}

/**************************************************************** Copy code button  */

.md main pre {
    position: relative;
}

.md main .copy-button {
    @apply font-body text-base bg-darkBase text-lightBase absolute right-3 bottom-3 px-3 py-1 cursor-pointer;
}

/**************************************************************** Sidebar  */
.md .sidebar {
    @apply bg-sidebar m-2 md:m-5 py-2 md:py-5 px-5 md:px-10;
}

.md.dark-mode .sidebar {
    @apply bg-darkBGHighlight1;
}

/**************************************************************** API Docs  */
.api-docs {
    @apply bg-white;
}

.api-docs .menu-content {
    @apply bg-gray-100;
}

.api-docs .menu-content label {
    @apply bg-transparent hover:bg-gray-200;
}

/**************************************************************** Code Tabs  */
.code-tabs pre, .code-tabs input {
    display: none;
}
.code-tabs input:checked + pre {
    display: block;
}
.code-tabs ul {
    font-size: 0;
    padding: 0;
    white-space: nowrap;
    overflow: auto;
    user-select: none;
}
.code-tabs li {
    list-style: none;
    display: inline-block;
    position: relative;
}
.code-tabs label {
    @apply font-body bg-darkBase text-lightBase px-4 py-3;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    padding: 2px 5px;
    margin: 2px;
    font-size: 14px;
}
.code-tabs input:checked + label {
    @apply bg-button;
}

/**************************************************************** Blog Listings  */
ol.blog-list, .blog-pagination ol {
  list-style: none !important;
  margin: 0 !important;
}
.blog-list .blog-list-post h2 {
  @apply m-0;
}
.blog-list .blog-list-post a {
  @apply text-darkBase block;
}
.blog-list .blog-list-post a:hover {
  @apply text-lightBase
}
.blog-list .blog-list-post .post-clamp {
  @apply overflow-hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
ul.post-tag-list {
  list-style: none;
  margin-left: 0 !important;
}
ul.post-tag-list li {
  @apply inline-block
}
ul.post-tag-list a {
  @apply inline-block text-darkBase
}
ul.post-tag-list li a:hover {
  @apply text-lightBase
}
.blog-pagination ol li {
  @apply inline;
}
.blog-pagination ol li a {
  @apply rounded-md bg-gray-100 mb-0 inline-flex justify-center p-1;
  max-width: 6rem;
}
.blog-pagination ol li a:hover {
  @apply rounded-md bg-darkBase text-white;
}
.blog-newsletter label {
  background: none;
}
.dark-mode .blog-list .blog-list-post {
  background: rgb(9, 32, 52);
}
.dark-mode .blog-list .blog-list-post a {
  @apply text-darkText;
}
.dark-mode .blog-list .blog-list-post p.post-date {
  @apply text-darkBase;
}
.dark-mode .blog-pagination ol li a {
  @apply text-darkText;
  background: rgb(9, 32, 52);
}
.dark-mode .blog-pagination ol li a:hover {
  @apply rounded-md bg-darkBase text-white;
}
/**************************************************************** Blog Post  */
.blog-post > h1:first-of-type {
  @apply mt-4
}
.blog-post .eleventy-plugin-youtube-embed, .blog-post figure {
  @apply my-10
}
/**************************************************************** Blog Tags  */
.blog-tags-list {
  list-style: none !important;
  margin: 0 !important;
}
