---
layout: body
eleventyNavigation:
  key: Blogs
  order: 4
markdownFile: true
title: Home
pagination:
  data: collections.blogPosts
  size: 6
  reverse: true
  alias: blogPosts
---
<h1 class="text-5xl text-center">Blog</h1>
<div class="flex flex-wrap text-left">
    {% include "partials/blog-list-post.njk" %}
</div>
