---
layout: body
eleventyNavigation:
  key: Blog
  order: 4
markdownFile: true
title: Home
pagination:
  data: collections.blogPosts
  size: 9
  reverse: true
  alias: blogPosts
---
<h1 class="blog-title text-5xl text-center">Evently Blog</h1>
<ol class="blog-list grid gap-5 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
  {% include "partials/blog-list-post.njk" %}
</ol>
