---
layout: coming-soon
---

<div class="bg-darkBG p-2 lg:p-5">
    Some words go here. Signup now. A simple event store solution. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus, dui a condimentum semper, ex dui maximus mi, eget dapibus leo erat laoreet magna. In hac habitasse platea dictumst. Nunc et sagittis augue. Ut elit ipsum, pellentesque vel ornare quis, pellentesque id quam. Donec tincidunt venenatis dolor a feugiat. Donec.
</div>

{% include 'partials/newsletter-form.njk' %}
{# {% include 'partials/signup-form.njk' %} #}
