---
layout: body
markdownFile: false
---
<div>Your <b>Evently Preview</b>&nbsp;account has these terms and conditions:<br/></div>
<ul>
    <li>
        <span>You can&nbsp;only use your account for legal activities.</span><br/></li>
    <li>
        <span>You must restrict your usage to educational and other non-critical purposes.</span><br/></li>
    <li>
        <span>You cannot store  personal information, business secrets or other data you would not want to be read by others.</span><br/></li>
    <li>
        <span>Your ledger stores events in the United States.</span><br/></li>
    <li>Your ledger is limited to 100,000 events. You can regain space by resetting your ledger to a previous point with the <a href="https://evently.cloud/ledgers/reset" target="_blank" rel="noopener noreferrer">Reset Ledger API</a>. You are free to request more storage by emailing <a href="mailto:preview@evently.cloud" target="_blank" rel="noopener noreferrer">preview@evently.cloud</a>&nbsp;from your account&#39;s email address.<br/></li>
    <li>Your data may be deleted at the end of the preview period or another point in the preview period as needed by Evently. Before any data is deleted, Evently will notify you in advance.<br/></li>
    <li>You can download your entire ledger using the <a href="https://evently.cloud/ledgers/download" target="_blank" rel="noopener noreferrer">Download Ledger API</a>.<br/></li>
    <li>Support is offered via email at <a href="mailto:preview@evently.cloud" target="_blank" rel="noopener noreferrer">preview@evently.cloud</a>&nbsp;or on twitter at&nbsp;<a href="https://twitter.com/evently_cloud" target="_blank" rel="noopener noreferrer">https://twitter.com/evently_cloud</a><br/></li>
    <li>Please have fun!<br/></li>
</ul>
