---
layout: body
title: Blog Tags
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - blogPosts
permalink: /tags/{{ tag }}/
---

<h1 class='inline-block mr-4'>Evently Blog: {{ tag }}</h1>
<a href='/tags/' class='inline-block'>view all tags</a>
<ol class='blog-list grid gap-5 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1'>
  {% set taglist = collections[ tag ] %}
  {% for post in taglist | reverse %}
    {% include 'partials/blog-list-post.njk' %}
  {% endfor %}
</ol>
