{% for post in blogPosts %}
  <li class="blog-list-post rounded-md bg-blueGray-200">
    <article>
      <a href={{ post.url | url }}>
        <img class="object-cover object-center w-full h-40 rounded" src={{post.url}}{{post.data.featuredImage}} alt={{post.data.featuredImageAltText}} />
      </a>
      <div class='p-4'>
        <p class="post-date text-base text-gray-400">
          {{ post.data.date }}
        </p>
        <h2 class="font-semibold lg:text-2xl mt-0">
          {{ post.data.title }}
        </h2>
        <p class="post-clamp text-base">
          {{ post.data.postExcerpt }}
        </p>
        <a href="{{ post.url | url }}" class="font-semibold text-right block w-full">
          Read More →
        </a>
      </div>
    </article>
  </li>
{% endfor %}
