{# {% set navPages = collections.all | eleventyNavigation %}
{%- for entry in navPages %}
    <a
        href="{{ entry.url | url }}"
        class="{% if entry.url == page.url %} active {% endif %}"
    >
        {{ entry.title }}
    </a>
{%- endfor %} #}

{# Desktop nav #}
<nav class="hidden md:block">{{ collections.all | eleventyNavigation | alpineNav | safe }}</nav>
{# Mobile nav  #}
<nav class="block md:hidden">{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}</nav>

<div class="flex gap-6 md:gap-4 md:my-0 md:ml-auto items-center">
    {% if markdownFile %}
        <a @click="darkMode = !darkMode" class="cursor-pointer">
            <i class="text-3xl" :class="darkMode ? 'fa-solid fa-moon' : 'fa-solid fa-sun'"></i>
        </a>
    {% endif %}
    {% include "partials/social-links.njk" %}
</div>
<a href="/#signup-form-container" class="btn block text-center" @click="signupFormOpen = true; $refs.signup.scrollIntoView()" {% shinyAJSFunc %}>
    <span>Signup</span>
</a>
