{# {% set navPages = collections.all | eleventyNavigation %}
{%- for entry in navPages %}
    <a
        href="{{ entry.url | url }}"
        class="{% if entry.url == page.url %} active {% endif %}"
    >
        {{ entry.title }}
    </a>
{%- endfor %} #}

{# <nav>{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}</nav> #}
<nav>{{ collections.all | eleventyNavigation | alpineNav | safe }}</nav>

<div class="flex gap-6 md:gap-4 md:my-0 md:ml-auto items-center">
    <a @click="darkMode = !darkMode" class="cursor-pointer">
        <i class="fa-moon text-3xl" :class="darkMode ? 'fad' : 'far'"></i>
    </a>
    {% include "partials/social-links.njk" %}
</div>
<a class="btn block text-center" @click="signupFormOpen = true; $refs.signup.scrollIntoView()" {% shinyAJSFunc %}>
    <span>Signup</span>
</a>
